/* App-wide styling */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

body {
    font-family: 'EB Garamond', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    background-color: #ccccd7;
}

h1, h2, h3, h4, h5 {
    color: #551a8b;                                         /* Purpl burglur alurm */
}

.navbar {
    overflow-x: auto;
    background-color: white;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    height: 50px;
    box-shadow: 0 4px 5px -2px gray;
}

@media (max-width: 600px) {
    .navbar {
        justify-content: start;
    }
}

iframe {
    width: 100%;
    border: 2px solid gray;
    border-radius: 10px;
}

#pokelink {
    height: 600px;
}

#wordguessr {
    height: 500px;
}

@media (max-width: 750px) {
    #pokelink {
        display: none;
    }
}

.navlink {
    position: relative;
    padding: 6px 10px;
    margin: 0px 5px;
    text-align: center;
    text-decoration: none;
    color: #551a8b;
    background-image: linear-gradient(to top, #dddddd, transparent);
    background-size: 100% 0%;
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 10px;
    transition: background-size 0.2s ease, color 0.2s ease;
}

.navbar a:hover {
    background-size: 100% 100%;                             /* Animate gradient upwards */
    color: #000000;
    cursor: pointer;
}

.navlink.active {
    background-size: 100% 100%;                             /* Animate gradient upwards */
    color: #000000;
    size: 100px;
    text-shadow:0px 0px 0.5px black;
}

.navbar.outer {
    z-index: 3;
    position: sticky;
    top: 0;
    border-radius: 0px 0px 15px 15px;
}

.navbar.inner {
    z-index: 2;
    position: sticky;
    top: 50;
    padding-top: 15px;
    transform: translateY(-15px);
    background-color: #eeeef9;
    border-radius: 0px 0px 15px 15px;
}

#layout-content {
    transform: translateY(-15px);
    box-sizing: border-box;
    overflow: hidden;
    background-color: #ffffff;
    max-width: 1000px;                                      /* Excluding padding */
    width: calc(75%);                                       /* Excluding padding */
    margin-bottom: 4%;                                      /* A little space at the bottom */
    padding: max(3%, 5px) max(5%, 20px);                    /* Gotta have padding! */
    box-shadow: 4px 4px 10px 2px gray;
    border-radius: 0px 0px 15px 15px;
}

@media (max-width: 600px) {
    #layout-content {
        width: 92%;
    }
}

#layout-background {
    /* Center content! */
    display: flex;
    flex-direction: column;
    align-items: center;
}
